@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
		Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.video-docker video {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.video-docker::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.6);
	z-index: 1;
}

.video-content {
	z-index: 2;
}

.drip {
	position: relative;
	line-height: 63px;
	transition: .5s;
}

.drip::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: #a855f7;
	transition: .5s;
	transform: scale(.9);
	z-index: -1;
}

.drip:hover::before {
	transform: scale(1.1);
	box-shadow: 0 0 15px #a855f7;
}

.drip:hover {
	color: #a855f7;
	box-shadow: 0 0 10px #a855f7;
	text-shadow: 0 0 10px #a855f7;
}

.pixels {
	font-family: 'VT323', monospace;
}
@font-face {
	font-family: 'bombing';
	src: url('./public/fonts/bombing-webfont.woff2') format('woff2'), url('./public/fonts/bombing-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'tagtype';
	src: url('./public/fonts/tagtype-webfont.woff2') format('woff2'), url('./public/fonts/tagtype-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
.font-bombing {
	font-family: 'bombing';
}
.font-tagtype {
	font-family: 'tagtype';
}

#profile {
	width: 100%;
	height: 100%;
}